*#p{
    text-align: center;
    font-style: oblique;
  }

  /*a estilização do corpo e o fundo da pagina, em conjunto o paragrafo*/
body{
     background:linear-gradient(to right, black,rgb(228, 228, 231),rgb(7, 5, 5));
     font-size: 20px;
}

/* aqui é a estilização dos links*/
a{
    color:black;
    text-decoration: none;
    position: relative;
    font-size: 25;
    padding: 0px 50px 10px 0px;
  }
  
  /* aqui eu tentei modificar um pouco o link para fazeruma transição mais suave e deixar um pouco menos "seco" a pagina*/
a::after{
    content:" ";
    width:0%;
    height: 4px;
    background-color: black;
    position: absolute;
    bottom:0;
    left:0;
    transition: 0.5s ease-in-out;
}
a:hover::after{
    width: 100%;
}

*{ 
    text-align:center;
    margin:20px;
    padding: 20px;
    box-sizing:border-box;
    
}